.bgimage {
    height:100vh;
    background: url('hk.jpg');
    background-size:cover;
    position:relative;
}

.main_title {
    font-size: 4.5rem;
}
.main_desc {
    font-size: 2rem;
}
.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.imageAboutPage {
    position: relative;
    background-size: cover;
}
.skills{

    height: 100vh;
    position: relative;
    background-color: rgb(57, 23, 166);
    background-size: cover;
    justify-content: center;  
}

.skillsdiv{

    position: relative;
    top: 20%;
    padding-left: 270px;
}

.progress{
    width: 70%;

}

.text{
    color: white;
    left: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}
